In [2]:
import pandas as pd
import geopandas as gpd

In [8]:
data = gpd.read_file("assets/celltowers.geojson")
data.head(5)

,FID,LICENSEE,CALLSIGN,LOCADD,LOCCITY,LOCCOUNTY,LOCSTATE,NEPA,LIC_ID,geometry
0,25,"NEW CINGULAR WIRELESS PCS, LLC",KNKA679,16400 CLEAR CREEK ROAD NORTHWEST,POULSBO,KITSAP,WA,N,11510,POINT (-122.68891 47.71111)
1,26,"NEW CINGULAR WIRELESS PCS, LLC",KNKA679,8971 SE VIEW PARK ROAD,PORT ORCHARD,KITSAP,WA,N,11510,POINT (-122.53391 47.48031)
2,27,"NEW CINGULAR WIRELESS PCS, LLC",KNKA679,63 MARITIME ROAD,QUILCENE,JEFFERSON,WA,N,11510,POINT (-122.82171 47.69191)
3,28,"NEW CINGULAR WIRELESS PCS, LLC",KNKA700,0.5 MILES EAST OF ROUTE 12,UNION GAP,YAKIMA,WA,N,11511,POINT (-120.45781 46.53061)
4,29,"NEW CINGULAR WIRELESS PCS, LLC",KNKA700,EAST END OF SNIPES MOUNTAIN/NO ADDRESS,SUNNYSIDE,YAKIMA,WA,N,11511,POINT (-120.06331 46.30781)

In [10]:
wa_data = pd.read_json("assets/wacounties.json")
wa_data.head(5)

,type,name,features
0,FeatureCollection,wacounties,"{'type': 'Feature', 'properties': {'GEOID': '5..."
1,FeatureCollection,wacounties,"{'type': 'Feature', 'properties': {'GEOID': '5..."
2,FeatureCollection,wacounties,"{'type': 'Feature', 'properties': {'GEOID': '5..."
3,FeatureCollection,wacounties,"{'type': 'Feature', 'properties': {'GEOID': '5..."
4,FeatureCollection,wacounties,"{'type': 'Feature', 'properties': {'GEOID': '5..."

In [21]:
# use filtered dataframe to find unique values
print(sorted(wa_data.LICENSEE.unique()))

['AT&T MOBILITY WIRELESS OPERATIONS HOLDINGS, INC.', 'EASTERN SUB-RSA LIMITED PARTNERSHIP', 'MCDANIEL CELLULAR TELEPHONE COMPANY', 'NEW CINGULAR WIRELESS PCS, LLC', 'OREGON RSA #2, INC.', 'RCC MINNESOTA, INC.', 'SEATTLE SMSA LIMITED PARTNERSHIP', 'USCOC OF RICHLAND, INC.', 'USCOC OF WASHINGTON-4, INC.', 'VERIZON WIRELESS (VAW), LLC', 'WASHINGTON RSA #8 LIMITED PARTNERSHIP', 'WESTERN SUB-RSA LIMITED PARTNERSHIP', 'YAKIMA MSA LIMITED PARTNERSHIP']